version: '3.4'

services:
  contactlistdb:
   image: mongo
  rabbitmq:
   image: rabbitmq:3-management
  contactlist.contacts:
    image: ${DOCKER_REGISTRY-}contactlistcontacts
    build:
      context: .
      dockerfile: Contactlist.Contacts/Dockerfile

  contactlist.reporting:
    image: ${DOCKER_REGISTRY-}contactlistreporting
    build:
      context: .
      dockerfile: Contactlist.Reporting/Dockerfile


  contactlist.apigateway:
    image: ${DOCKER_REGISTRY-}contactlistapigateway
    build:
      context: .
      dockerfile: ContactList.ApiGateway/Dockerfile

