@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contactlist Web App</h1>
    <p>Tüm servislerin çalışma mantığını bir araya toplayan web uygulamasıdır.</p>
    <p>RabbitMq ile produce edilen mesaj bu uygulama üzerinden consume edilerek okunabilir.</p>
</div>
<button id="sendButton" name="sendButton">Rapor Ekle</button>

<table class="bidLine">
    <thead><tr><td>Rapor UUID</td><td>Rapor Durum</td></tr></thead>
</table>
<script src="~/lib/microsoft-signalr/signalr.js"></script>

<script src="~/js/views/index.js"></script>